<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcase.PinkGreenColorQuantityIncrease"/>
      <class name="testcase.CurrencyChange"/>
      <class name="base.BaseTest"/>
      <class name="testcase.PostComment"/>
      <class name="testcase.PriceFilter"/>
      <class name="testcase.UpdateProductCartQuantityIntoTwo"/>
      <class name="testcase.ProductCartQuantityUpdate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
